.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 70px;

	color: black;
	font-size: 20px;

}

.headerLinks {
	display: flex;
	justify-content: space-between;

	width: 500px;
}